* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    gap: 30px;
    background-color: #E2B708;
    padding: 27px;        
}

.header_nav {
    display: flex;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    background-color: #9C9C9C;
    color: white;
    padding: 10px 25px;
    border-radius:10px;
}

.cololor {
    background-color: #AB9207;
    border-radius:10px;
}

h1 {
    text-align: center;
    color: #707070;
}

header img {
    width: 100px;
    height: 50px;
}


p {
    text-align: center;
}

.wuw {
    background-color: #816E05;
}

.wuw_contaner {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #816E05;
}

.czx {
    color: white;
    float: right;
}

.g2 {
    text-align: center;
    color: #7B7B7B;
    margin: 20px;
}

.ddf {
    background-color: #931E20;
    color: white;
    border-radius:10px;
    padding: 10px;
}

footer p {
    font-size: 10px;
    padding: 20px;
    color: white;
}

footer {
    background-color: #605F64;
}

main img {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    
}

h2 {
    text-align: center;
}

.qqq {
    background-color: white;
    border-radius: 20px;
    padding: 6px 22px 42px 22px;
    text-align: center;
}

.qqq_link {
    text-decoration: none;
    color: #7B7B7B;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
}

.www {
    padding-top: 30px;
}
